{% extends 'hello/base.html' %}
{% load static %}
{% block content %}


<div class="text-center mt-5 container">
    <form method="POST" action="" class="row g-3 justify-content-start" style="max-width:480px;margin:auto;">
        {%csrf_token%}
        <img src="{% static 'hello/images/InstaBasketLogo.png' %}">
        <h1 class="h3 mb-3" font-weight-normal>Sign In</h1>
        <input type="text" class="form-control" name="username" placeholder="Username...">
        <input type="password" class="form-control" name="password" placeholder="Password...">
            <button class="btn btn-lg btn-primary btn-block"> Sign In</button>

    </form>
    
    {% for message in messages %}
    <p id="message"> {{message}} </p>
    {% endfor %}
    <div style="float: center;">
        Don't have an account?
        <a href="{% url 'register' %}" margin-inline: 10px >Create account here</a>
    </div>
</div>



{% endblock %}