  <!--Navigation Portion (top)-->
    {% load static %}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">

    <div class="container-fluid">
      <!--<a class="navbar-brand" href="#"><img src="img/logo.jpg" alt="" width="200px" height="200px"></a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">

        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href={% url 'index' %}><img src="{% static 'hello/images/InstaBasketLogoFrontPage.png' %}" width="175" height="35"></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="*">Address</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href={% url 'userprofile' %}>Account</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="*">Hello, {{request.user}} </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://pomonabusiness.wixsite.com/grocery-delivery">Contact Us</a>
          </li>
        </ul>
      </div>
        <div style="float; background-color: red; padding:5px 20px; border-radius: 5px">
        <span> <a href= "{% url 'cart' %}" style="color: white; text-decoration: none"> Cart ({{ cartTotal }}) </a> </span>
    </div>
    </div>
  </nav>